@using CreaState.Components.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Non trouvé</PageTitle>
        <LayoutView Layout="@typeof(PublicLayout)">
            <p role="alert">Désolé, cette page n'existe pas.</p>
        </LayoutView>
    </NotFound>
</Router>
